[workspace]
members = [
  "dropshot-authorization-header",
  "parse-rfd",
  "rfd-api",
  "rfd-cli",
  "rfd-data",
  "rfd-model",
  "rfd-processor",
  "rfd-redirect",
  "rfd-sdk",
  "trace-request",
  "w-api-permissions",
  "xtask"
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.81"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel" }
async-trait = "0.1.79"
base64 = "0.21.7"
bb8 = "0.8.3"
chrono = "0.4.37"
clap = { version = "4.5.4", features = ["derive", "string", "env"] }
config = { version = "0.13.4", features = ["toml"] }
cookie = { version = "0.18.1" }
crc32c = "0.6.5"
diesel = { version = "2.1.5", features = ["postgres"] }
dirs = "5.0.1"
dropshot = "0.10.0"
dropshot-verified-body = { git = "https://github.com/oxidecomputer/dropshot-verified-body" }
futures = "0.3.30"
google-cloudkms1 = "5.0.4"
google-drive3 = "5.0.4"
google-storage1 = "5.0.4"
hex = "0.4.3"
hmac = "0.12.1"
http = "0.2.11"
hyper = "0.14.28"
hyper-rustls = "0.24.2"
itertools = "0.12.1"
jsonwebtoken = "9.2.0"
meilisearch-sdk = { version = "0.24.3", default-features = false, features = ["reqwest-rustls"] }
md-5 = "0.10.6"
mime_guess = "2.0.4"
mockall = "0.12.1"
newline-converter = "0.3.0"
oauth2 = "4.4.2"
octorust = "0.7.0"
owo-colors = "3.5.0"
partial-struct = { git = "https://github.com/oxidecomputer/partial-struct" }
progenitor = { git = "https://github.com/oxidecomputer/progenitor" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor" }
rand = "0.8.5"
rand_core = "0.6"
regex = "1.10.2"
reqwest = { version = "0.11", default-features = false, features = ["json", "stream"] }
reqwest-middleware = "0.2"
reqwest-retry = "0.3.0"
reqwest-tracing = "0.4.6"
ring = "0.17.7"
rsa = "0.9.6"
rustfmt-wrapper = "0.2.1"
schemars = "0.8.16"
secrecy = "0.8.0"
semver = "1.0.22"
serde = "1"
serde_bytes = "0.11.14"
serde_json = "1"
serde_urlencoded = "0.7.1"
sha2 = "0.10.8"
similar = "2.4.0"
slog = "2.7.0"
slog-async = "2.8.0"
tabwriter = "1.4.0"
tap = "1.0.1"
textwrap = "0.16.0"
thiserror = "1.0.56"
tokio = "1.35.1"
toml = "0.8.8"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-bunyan-formatter = "0.3.9"
tracing-core = "0.1.32"
tracing-slog = { git = "https://github.com/oxidecomputer/tracing-slog" }
tracing-subscriber = "0.3.18"
uuid = "1.6.1"
valuable = "0.1.0"
yup-oauth2 = "8.3.2"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.4.0-prerelease.2"
# CI backends to support
ci = ["github"]
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu"]
# Publish jobs to run in CI
pr-run-mode = "plan"
allow-dirty = ["ci"]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[patch.crates-io]
meilisearch-sdk = { git = "https://github.com/gibbz00/meilisearch-rust.git", branch = "request_clients" }
