name: license-check

on:
  push:

jobs:
  license:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@master
    - name: Check License Header
      uses: apache/skywalking-eyes/header@0630b017b4e34f27f0d8719c873d703fb31ec8de
