name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
        with:
          toolchain: stable
      - name: Install asciidoctor
        shell: bash
        run: |
          sudo apt update -y && sudo apt install -y \
            asciidoctor \
            ruby \
      - name: Install asciidoctor-pdf, asciidoctor-mermaid
        shell: bash
        run: |
          sudo gem install rouge
          sudo gem install asciidoctor-pdf -v 2.3.2
          sudo gem install asciidoctor-mermaid -v 0.4.1
          sudo npm install -g @mermaid-js/mermaid-cli@9.1.2
      - name: Report versions
        run: |
          asciidoctor --version
          asciidoctor-pdf --version
          mmdc --version
      - uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1
        with:
          command: test
        env:
          TEST_DATABASE: postgres://test:test@localhost
          RUST_LOG: rfd=trace
