name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install asciidoctor
        shell: bash
        run: |
          sudo apt update -y && sudo apt install -y \
            asciidoctor \
            ruby=2 \
      - name: Install asciidoctor-pdf, asciidoctor-mermaid
        shell: bash
        run: |
          sudo gem install rouge
          sudo gem install asciidoctor-pdf -v 2.3.2
          sudo gem install asciidoctor-mermaid -v 0.4.1
          sudo npm install -g @mermaid-js/mermaid-cli@9.1.2
      - name: Report versions
        run: |
          asciidoctor --version
          asciidoctor-pdf --version
          mmdc --version
      - uses: actions-rs/cargo@v1
        with:
          command: test
        env:
          TEST_DATABASE: postgres://test:test@localhost
          RUSTFLAGS: "--cfg tracing_unstable"
          RUST_LOG: rfd=trace